@namespace MatBlazor
@inherits BaseMatButton

<button class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @onclick="OnClickHandler" @onclick:stopPropagation=@OnClickStopPropagation disabled=@Disabled aria-label="@(Label ?? Icon)" @ref="Ref" type="@Type" name="@Name" value="@Value" @attributes="Attributes" Id="@Id">
    <div class="mdc-button__ripple"></div>
    @if (Icon != null)
    {
        <span class="material-icons mdc-button__icon">@Icon</span>
    }
    @if (Label != null)
    {
        <span class="mdc-button__label">@Label</span>
    }
    @ChildContent
    @if (TrailingIcon != null)
    {
        <span class="material-icons mdc-button__icon mat-button__icon--trailing">@TrailingIcon</span>
    }
</button>