@inherits BaseMatRadioButton

<div class="mdc-form-field" ref="FormFieldRef">
    <div class="@ClassMapper.Class" style="@Style" ref="Ref">
        <input class="mdc-radio__native-control" type="radio" name="@Group.MatBlazorId" checked="@Checked" value="@MatBlazorId"
               onchange="@((e)=>OnChangeHandler(e))" id="@MatBlazorId" disabled=@Disabled />
        <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
        </div>
    </div>
    @if (Label != null)
    {
        <label for="@MatBlazorId">@Label</label>
    }
</div>