@namespace MatBlazor
@typeparam TValue
@inherits BaseMatSlideToggle<TValue>

<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
    <div class="mdc-switch__track"></div>
    <div class="mdc-switch__thumb-underlay">
        <div class="mdc-switch__thumb">
            <input type="checkbox" id="@Id" class="mdc-switch__native-control" role="switch" checked="@Checked" @onchange="OnChangedHandler" disabled="@Disabled" @ref="@InputRef" />
        </div>
    </div>
</div>
@if (Label != null)
{
    <label for="@Id">@Label</label>
}