@inherits BaseMatSlideToggle

<div class="@ClassMapper.Class" ref="MdcSwitch">
    <div class="mdc-switch__track"></div>
    <div class="mdc-switch__thumb-underlay">
        <div class="mdc-switch__thumb">
            <input type="checkbox" id="@MatBlazorId" class="mdc-switch__native-control" role="switch" checked="@Checked" onchange="@OnChangedHandler" disabled=@Disabled />
        </div>
    </div>
</div>
@if (Label != null)
{
    <label for="@MatBlazorId">@Label</label>
}