@namespace MatBlazor
@inherits BaseMatCheckbox

<div class="mdc-form-field" @ref="Ref" >
    <div class="@ClassMapper.Class" style="@Style" @ref="ComponentRef" >
        <input type="checkbox"
               class="mdc-checkbox__native-control"
               @onchange="ChangeHandler"
               checked="@Checked"
               disabled=@Disabled
               value="@Value"
               id="@(Id)"
               @attributes="Attributes"/>
        <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark"
                 viewBox="0 0 24 24">
                <path class="mdc-checkbox__checkmark-path"
                      fill="none"
                      d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
        </div>
    </div>

    @if (Label != null || ChildContent != null)
    {
        <label for="@Id">@Label@ChildContent</label>
    }
</div>