@namespace MatBlazor
@inherits BaseMatListItem

@if (Href == null || Disabled)
{
    <li class="@ClassMapper.Class" onmousedown="@OnMouseDown" onclick="@OnClick">
        @ChildContent
    </li>
}
else
{
    <a class="@ClassMapper.Class" href="@Href" onmousedown="@OnMouseDown" onclick="@OnClick">
        @ChildContent
    </a>
}
