@namespace MatBlazor
@typeparam T
@typeparam TK
@inherits BaseMatOptionTypeKey<T, TK>

@if (Parent.Enhanced)
{
    <li data-value="@StringValue()" class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="Ref" @attributes="Attributes" Id="@Id" aria-disabled="@RenderAttributeAriaDisabled()" role="option">
        @ChildContent
    </li>
}
else
{
    <option value="@StringValue()" disabled=@Disabled class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="Ref" @attributes="Attributes" Id="@Id">
        @ChildContent
    </option>
}