@namespace MatBlazor
@inherits BaseMatOption

@if (Parent.Enhanced)
{
    <li data-value="@Value" class="@ClassMapper.Class" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
            @ChildContent
        </li>
}
else
{
    <option value="@Value" disabled=@Disabled class="@ClassMapper.Class" style="@StyleMapper.AsString()" @ref="Ref"  @attributes="Attributes" Id="@Id">
                @ChildContent
            </option>
}