@namespace MatBlazor
@inherits BaseMatFAB


<button class="@ClassMapper.Class" style="@Style" onclick="@OnClick" @ref="Ref">
    @ChildContent
    @if (Icon != null)
    {
        <span class="mdc-fab__icon material-icons">@Icon</span>
    }
    @if (Label != null)
    {
        <span class="mdc-fab__label">@Label</span>
    }
</button>