@inherits BaseMatTabLabel

<button class="@ClassMapper.Class" ref="Ref" style="@Style" role="tab" tabindex="0" onclick="@(_=>Activate())">
    <span class="mdc-tab__content" >
        @* <span class="mdc-tab__icon material-icons" aria-hidden="true">favorite</span> *@
        <span class="mdc-tab__text-label" >@ChildContent</span>
    </span>
    <span class="mdc-tab-indicator @(IsActive?"mdc-tab-indicator--active":"")">
        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
    </span>
    <span class="mdc-tab__ripple"></span>
</button>