@page "/MatBlazorVirtualScroll";
@*@attribute [RouteDisplay("My AutoComplete", "MyGroup")]
*@
<XmlDocContainer ComponentType="@(typeof(MatBlazorVirtualScroll<>))" DocComponentType="@this.GetType()" />

<RazorDocContainer DocInfo="@this.GetDocInfo("Basic Example")">
    <h4>VirtualScroll with @items.Count() items</h4>

    <MatBlazorVirtualScroll style="height: 500px;" Items="@items" ItemHeight="50">
        <ItemTemplate>
            <div>@context</div>
        </ItemTemplate>
    </MatBlazorVirtualScroll>

    @code
    {
        public ICollection<string> items = Enumerable.Range(0, 333000).Select(i => i.ToString()).ToArray();
    }
</RazorDocContainer>

<RazorDocContainer DocInfo="@this.GetDocInfo("Disabled Virtual Scroll")">
    <MatBlazorVirtualScroll style="height: 500px;" Items="@items2" ItemHeight="50" Disabled="true">
        <ItemTemplate>
            <div>@context</div>
        </ItemTemplate>
    </MatBlazorVirtualScroll>

    @code
    {
        public ICollection<string> items2 = Enumerable.Range(0, 200).Select(i => i.ToString()).ToArray();
    }
</RazorDocContainer>