@page "/MatBlazorVirtualScroll";
@attribute [RouteDisplay("Layout")]

<XmlDocContainer ComponentType="@(typeof(MatBlazorVirtualScroll<>))" DocComponentType="@this.GetType()" />

<RazorDocContainer DocInfo="@this.GetDocInfo("Basic Example")">
    <h4>VirtualScroll with @items.Count() items</h4>

    <MatBlazorVirtualScroll style="height: 500px;" Items="@items" ItemHeight="50">
        <ItemTemplate>
            <div>@context</div>
        </ItemTemplate>
    </MatBlazorVirtualScroll>

    @code
    {
        public ICollection<string> items = Enumerable.Range(0, 333000).Select(i => i.ToString()).ToArray();
    }
</RazorDocContainer>
<RazorDocContainer DocInfo="@this.GetDocInfo("Complex Item Virtualization")">
    <h4>Complex Item scroll with @complexItems.Count() items</h4>
   
    <MatBlazorVirtualScroll style="height: 500px;" Items="@complexItems" ItemHeight="50">
        <ItemTemplate>
            <MatDatePicker @bind-Value="@context.Value"></MatDatePicker>
        </ItemTemplate>
    </MatBlazorVirtualScroll>

    @code
    {
        private class ValueContainer<T>
        {
            public T Value { get; set; }
        }

        private ICollection<ValueContainer<DateTime>> complexItems = Enumerable.Range(0, 333000).Select(i => new ValueContainer<DateTime> { Value = DateTime.Today - TimeSpan.FromDays(i) }).ToArray();
    }
</RazorDocContainer>


<RazorDocContainer DocInfo="@this.GetDocInfo("Disabled Virtual Scroll")">
    <MatBlazorVirtualScroll style="height: 500px;" Items="@notVirtualizedItems" ItemHeight="50" Disabled="true">
        <ItemTemplate>
            <div>@context</div>
        </ItemTemplate>
    </MatBlazorVirtualScroll>

    @code
    {
        public ICollection<string> notVirtualizedItems = Enumerable.Range(0, 200).Select(i => i.ToString()).ToArray();
    }
</RazorDocContainer>