<DocMatCheckbox></DocMatCheckbox>

<h5 class="mat-h5">Example</h5>

<DemoContainer>
    <Content>
        <div>
            <MatCheckbox @bind-Value="@Checked1" Label="@(getLabel(Checked1))"></MatCheckbox>
        </div>
        <div>
            <MatCheckbox @bind-Value="@Checked2" Label="@(getLabel(Checked2))"></MatCheckbox>
        </div>
        <div>
            <MatCheckbox Disabled="true" @bind-Value="@Checked1" Label="Disabled"></MatCheckbox>
        </div>
        <div>
            <MatCheckbox @bind-Value="@Checked2">Inline Label</MatCheckbox>
        </div>

        @code
        {
            bool checked1 = true;
            bool checked2 = false;

            public bool Checked1
            {
                get { return checked1; }
                set
                {
                    checked1 = value;
                    StateHasChanged();
                }
            }

            public bool Checked2
            {
                get { return checked2; }
                set
                {
                    checked2 = value;
                    StateHasChanged();
                }
            }

            string getLabel(bool val)
            {
                return !val ? "Check me!" : "Uncheck me?";
            }

        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <div>
            <MatCheckbox @bind-Checked=""@Checked1"" Label=""@(getLabel(Checked1))""></MatCheckbox>
        </div>
        <div>
            <MatCheckbox @bind-Checked=""@Checked2"" Label=""@(getLabel(Checked2))""></MatCheckbox>
        </div>
        <div>
            <MatCheckbox Disabled=""true"" @bind-Checked=""@Checked1"" Label=""Disabled""></MatCheckbox>
        </div>
        <div>
            <MatCheckbox @bind-Checked=""@Checked2"">Inline Label</MatCheckbox>
        </div>

        @code
        {
            bool checked1 = true;
            bool checked2 = false;

            public bool Checked1
            {
                get { return checked1; }
                set
                {
                    checked1 = value;
                    StateHasChanged();
                }
            }

            public bool Checked2
            {
                get { return checked2; }
                set
                {
                    checked2 = value;
                    StateHasChanged();
                }
            }

            string getLabel(bool val)
            {
                return !val ? ""Check me!"" : ""Uncheck me?"";
            }

        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>