<h2>MatIcon</h2>

<h3>Use Examples</h3>

<DemoContainer>
    <Content>
        @using MatBlazor.Models

        <MatIcon Icon="favorite"></MatIcon>
        <MatIcon Icon="@MatIconNames.Image"></MatIcon>
        <MatIcon Icon="@MatIconNames._3d_rotation"></MatIcon>

        <MatIcon>work</MatIcon>
        <MatIcon>@MatIconNames.Assistant</MatIcon>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        @using MatBlazor.Models

        <MatIcon Icon=""favorite""></MatIcon>
        <MatIcon Icon=""@MatIconNames.Image""></MatIcon>
        <MatIcon Icon=""@MatIconNames._3d_rotation""></MatIcon>

        <MatIcon>work</MatIcon>
        <MatIcon>@MatIconNames.Assistant</MatIcon>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h3>All material icons for Blazor</h3>

@foreach (var cat in MatIconCategories.Data)
{
    <h4>@cat.Name</h4>
    <div style="display: flex; flex-direction: row; width: 100%; max-width: 100%; flex-wrap: wrap;">

        @foreach (var icon in cat.Icons)
        {
            <div style="width: 250px; height: 80px; text-align: center;">
                <div>
                    <MatIcon Icon="@icon.Id"></MatIcon>
                </div>
                <div>@icon.Id</div>
            </div>
        }
    </div>
}