@using MatBlazor.Models

<DocMatAutocomplete></DocMatAutocomplete>


<h5 class="mat-h5">Example</h5>
<DemoContainer>
    <Content>
        <MatAutocomplete Collection="@options" ItemType="string" Label="Pick one"></MatAutocomplete>

        @functions
        {

            string[] options = new[]
            {
                "One",
                "Two",
                "Three"
            };

        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatAutocomplete Collection=""@options"" ItemType=""string"" Label=""Pick one""></MatAutocomplete>

        @functions
        {

            string[] options = new[]
            {
                ""One"",
                ""Two"",
                ""Three""
            };

        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">ItemTemplate</h5>
<DemoContainer>
    <Content>
        <MatAutocomplete Collection="@options2" ItemType="Car" Label="Select car" CustomStringSelector="@(i => i.Name)">
            <ItemTemplate>
                <div style="display: flex; flex-direction: row; width: 100%;">
                    <div style="flex: 1;">@context.Name</div>
                    <div style="width: 150px;">@context.Price$</div>
                </div>
            </ItemTemplate>
        </MatAutocomplete>

        @functions
        {

            public class Car
            {
                public string Name { get; set; }
                public double Price { get; set; }

                public Car(string name, double price)
                {
                    Name = name;
                    Price = price;
                }
            }

            Car[] options2 = new[]
            {
                new Car("Volkswagen Golf", 10000),
                new Car("Volkswagen Passat", 11000),
                new Car("Volkswagen Polo", 12000),
                new Car("Ford Focus", 13000),
                new Car("Ford Fiesta", 14000),
                new Car("Ford Fusion", 15000),
                new Car("Ford Mondeo", 16000),
            };

        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatAutocomplete Collection=""@options2"" ItemType=""Car"" Label=""Select car"" CustomStringSelector=""@(i => i.Name)"">
            <ItemTemplate>
                <div style=""display: flex; flex-direction: row; width: 100%;"">
                    <div style=""flex: 1;"">@context.Name</div>
                    <div style=""width: 150px;"">@context.Price$</div>
                </div>
            </ItemTemplate>
        </MatAutocomplete>

        @functions
        {

            public class Car
            {
                public string Name { get; set; }
                public double Price { get; set; }

                public Car(string name, double price)
                {
                    Name = name;
                    Price = price;
                }
            }

            Car[] options2 = new[]
            {
                new Car(""Volkswagen Golf"", 10000),
                new Car(""Volkswagen Passat"", 11000),
                new Car(""Volkswagen Polo"", 12000),
                new Car(""Ford Focus"", 13000),
                new Car(""Ford Fiesta"", 14000),
                new Car(""Ford Fusion"", 15000),
                new Car(""Ford Mondeo"", 16000),
            };

        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>