<h1>MatSlider</h1>

<p>
    <h4>Continuous Slider: @Val</h4>
    <DemoContainer>
        <Content>
            <MatSlider bind-Value="@Val"></MatSlider>

            @functions
            {

                public decimal Val
                {
                    get => _val;
                    set
                    {
                        _val = value;
                        this.StateHasChanged();
                    }
                }

                private decimal _val = 0;
            }

        </Content>
        <SourceContent>
        	
        </SourceContent>
</DemoContainer>
</p>


<p>
    <h4>Initializing the slider with custom ranges/values: @Val2</h4>
    <DemoContainer>
        <Content>
            <MatSlider bind-Value="@Val2" ValueMin="-10" ValueMax="20"></MatSlider>

            @functions
            {

                public decimal Val2
                {
                    get => _val2;
                    set
                    {
                        _val2 = value;
                        this.StateHasChanged();
                    }
                }

                private decimal _val2 = 0;
            }

        </Content>
        <SourceContent>
        	
        </SourceContent>
</DemoContainer>

</p>

<p>
    <h4>Discrete Slider: @Val3</h4>
    <DemoContainer>
        <Content>
            <MatSlider bind-Value="@Val3" Discrete="true"></MatSlider>

            @functions
            {

                public decimal Val3
                {
                    get => _val3;
                    set
                    {
                        _val3 = value;
                        this.StateHasChanged();
                    }
                }

                private decimal _val3 = 0;
            }

        </Content>
        <SourceContent>
        	
        </SourceContent>
</DemoContainer>
</p>

<p>
    <h4>Using a step value</h4>
    <b>Disabled due to an error in Blazor </b>
    <a href="https://github.com/aspnet/AspNetCore/issues/8704" target="_blank">Bug</a>
    @*
    <DemoContainer>
        <Content>
            <MatSlider bind-Value="@Val4" Step="5"></MatSlider>

            @functions
            {

                public decimal Val4
                {
                    get => _val4;
                    set
                    {
                        _val4 = value;
                        this.StateHasChanged();
                    }
                }

                private decimal _val4 = 0;
            }

        </Content>
        <SourceContent>
        	
        </SourceContent>
    </DemoContainer>
    *@
</p>

<p>
    <h4>Disabled sliders</h4>
    <DemoContainer>
        <Content>
            <MatSlider Disabled="true" Value="55"></MatSlider>
        </Content>
        <SourceContent>
        	
        </SourceContent>
    </DemoContainer>
</p>
