<DocMatCheckbox></DocMatCheckbox>

<h5 class="mat-h5">Example</h5>

<DemoContainer>
    <Content>
        <div>
            <MatCheckbox bind-Checked="@checked1" Label="@(getLabel(checked1))"></MatCheckbox>
        </div>
        <div>
            <MatCheckbox bind-Checked="@checked2" Label="@(getLabel(checked2))"></MatCheckbox>
        </div>
        <div>
            <MatCheckbox Disabled="true" bind-Checked="@checked1" Label="Disabled"></MatCheckbox>
        </div>
        <div>
            <MatCheckbox bind-Checked="@checked2">Inline Label</MatCheckbox>
        </div>

        @functions
        {
            private bool checked1 = true;
            private bool checked2 = false;

            string getLabel(bool val)
            {
                return !val ? "Check me!" : "Uncheck me?";
            }

        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <div>
            <MatCheckbox bind-Checked=""@checked1"" Label=""@(getLabel(checked1))""></MatCheckbox>
        </div>
        <div>
            <MatCheckbox bind-Checked=""@checked2"" Label=""@(getLabel(checked2))""></MatCheckbox>
        </div>
        <div>
            <MatCheckbox Disabled=""true"" bind-Checked=""@checked1"" Label=""Disabled""></MatCheckbox>
        </div>
        <div>
            <MatCheckbox bind-Checked=""@checked2"">Inline Label</MatCheckbox>
        </div>

        @functions
        {
            private bool checked1 = true;
            private bool checked2 = false;

            string getLabel(bool val)
            {
                return !val ? ""Check me!"" : ""Uncheck me?"";
            }

        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>