<h3 class="mat-h3">MatDrawer</h3>

<p class="mat-body1">
    The navigation drawer slides in from the left and contains the navigation destinations for your app.
</p>

<h5 class="mat-h5">Opened</h5>
<DemoContainer SourcePath=".\..\..\MatBlazor.Demo.App\Frames\MatDrawerPageFrame.cshtml">
    <Content>
        <iframe src="MatDrawerFrame" style="width: 100%; height: 50%;"></iframe>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"@page ""/MatDrawerFrame""
@addTagHelper *,MatBlazor
@addTagHelper *,MatBlazor.Demo


<MatDrawerContainer Style=""width: 100vw; height: 100vh;"">
    <MatDrawer bind-Opened=""@Opened"">
        Drawer Content
    </MatDrawer>
    <MatDrawerContent>

        <div>
            <MatButton OnClick=""@((e) => ButtonClicked())"">
                @if (Opened)
                {
                    <span>Hide Menu</span>
                }
                else
                {
                    <span>Open Menu</span>
                }
            </MatButton>
        </div>
        <p>Page Content</p>

    </MatDrawerContent>
</MatDrawerContainer>


@functions
{


    bool Opened = true;

    void ButtonClicked()
    {
        Opened = !Opened;
        this.StateHasChanged();
    }

}")></BlazorFiddle>
    </SourceContent>
</DemoContainer>



<h5 class="mat-h5">Modal</h5>
<DemoContainer SourcePath=".\..\..\MatBlazor.Demo.App\Frames\MatDrawerModalPageFrame.cshtml">
    <Content>
        <iframe src="MatDrawerModalFrame" style="width: 100%; height: 50%;"></iframe>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"@page ""/MatDrawerModalFrame""
@using MatBlazor.Components.MatDrawer
@addTagHelper *,MatBlazor
@addTagHelper *,MatBlazor.Demo


<MatDrawerContainer Style=""width: 100vw; height: 100vh;"">
    <MatDrawer bind-Opened=""@Opened"" Mode=""@MatDrawerMode.Modal"">
        Drawer Content
    </MatDrawer>
    <MatDrawerContent>
        <div>
            <MatButton OnClick=""@((e) => ButtonClicked())"">Open Menu</MatButton>
        </div>
        <p>Page Content</p>

    </MatDrawerContent>
</MatDrawerContainer>


@functions
{


    bool Opened = true;

    void ButtonClicked()
    {
        Opened = !Opened;
        this.StateHasChanged();
    }

}")></BlazorFiddle>
    </SourceContent>
</DemoContainer>




