<DocMatSelect></DocMatSelect>
<DocMatOption Secondary="true"></DocMatOption>



<div>
    <table class="article-table mat-elevation-z5 article-table-same">
        <tr>
            <th>Purpose</th>
            <th>string</th>
            <th>Generic</th>
        </tr>
        <tr>
            <td>
                Select values from list of values
            </td>
            <td>
                
                <p>
                    <code>
                        @("<MatSelect @bind-Value=\"v\" Items=\"items\"/>")
                    </code>
                </p>
                <p style="text-align: end">
                    <MatAnchorLink href="#MatSelect">Example</MatAnchorLink>
                </p>
            </td>
            <td>
                <p>
                    <code>
                        @("<MatSelectType @bind-Value=\"v\" Items=\"items\"/>")
                    </code>
                </p>
                <p style="text-align: end">
                    <MatAnchorLink href="#MatSelectNative">Example</MatAnchorLink>
                </p>
            </td>
        </tr>
    </table>
</div>



<MatAnchorContainer Anchor="MatSelect">
    <MatH5>MatSelect</MatH5>
</MatAnchorContainer>
<DemoContainer>
    <Content>
        <MatSelect Label="Pick a Food Group" @bind-Value="Val2" Items="@Val2Items">
        </MatSelect>

        <span>@Val2</span>

        @code
        {
            string Val2;
            string[] Val2Items = new[] { null, "Grains", "Vegetables", "Fruit" };
        }
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelect Label=""Pick a Food Group"" @bind-Value=""Val2"" Items=""@Val2Items"">
        </MatSelect>

        <span>@Val2</span>

        @code
        {
            string Val2;
            string[] Val2Items = new[] { null, ""Grains"", ""Vegetables"", ""Fruit"" };
        }
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>




<MatAnchorContainer Anchor="MatSelectNative">
    <MatH5>MatSelectNative</MatH5>
</MatAnchorContainer>

<p>Using this components you can </p>
<DemoContainer>
    <Content>
        <p>
            <MatSelectNative Label="Pick a Food Group" @bind-Value="@val1">
                <MatOption Value=""></MatOption>
                <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value="vegetables">Vegetables</MatOption>
                <MatOption Value="fruit">Fruit</MatOption>
            </MatSelectNative>
        </p>
        <p>Selected value: @val1</p>
        @code
        {
            public string val1;
        }
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatSelectNative Label=""Pick a Food Group"" @bind-Value=""@val1"">
                <MatOption Value=""""></MatOption>
                <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value=""vegetables"">Vegetables</MatOption>
                <MatOption Value=""fruit"">Fruit</MatOption>
            </MatSelectNative>
        </p>
        <p>Selected value: @val1</p>
        @code
        {
            public string val1;
        }
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">SelectNative Normal</h5>
<DemoContainer>
    <Content>
        <MatSelectNative Label="Pick a Food Group" @bind-Value="@Val">
            <MatOption Value=""></MatOption>
            <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value="vegetables">Vegetables</MatOption>
            <MatOption Value="fruit">Fruit</MatOption>
        </MatSelectNative>

        <span>@Val</span>

        @code
        {
            public string Val { get; set; }
        }
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelectNative Label=""Pick a Food Group"" @bind-Value=""@Val"">
            <MatOption Value=""""></MatOption>
            <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value=""vegetables"">Vegetables</MatOption>
            <MatOption Value=""fruit"">Fruit</MatOption>
        </MatSelectNative>

        <span>@Val</span>

        @code
        {
            public string Val { get; set; }
        }
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">SelectNative Generic Enhanced</h5>
<DemoContainer>
    <Content>
        <MatSelectNativeType Label="Pick a Food Group" Enhanced="true" @bind-Value="ValEnhancedInt">
            <MatOptionType Value="0"></MatOptionType>
            <MatOptionType Value="1">Bread, Cereal, Rice, and Pasta</MatOptionType>
            <MatOptionType Value="2">Vegetables</MatOptionType>
            <MatOptionType Value="3">Fruit</MatOptionType>
        </MatSelectNativeType>

        <span>@ValEnhancedInt</span>

        @code
        {
            public int ValEnhancedInt { get; set; }
        }
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelectNativeType Label=""Pick a Food Group"" Enhanced=""true"" @bind-Value=""ValEnhancedInt"">
            <MatOptionType Value=""0""></MatOptionType>
            <MatOptionType Value=""1"">Bread, Cereal, Rice, and Pasta</MatOptionType>
            <MatOptionType Value=""2"">Vegetables</MatOptionType>
            <MatOptionType Value=""3"">Fruit</MatOptionType>
        </MatSelectNativeType>

        <span>@ValEnhancedInt</span>

        @code
        {
            public int ValEnhancedInt { get; set; }
        }
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">SelectNative Generic Normal</h5>
<DemoContainer>
    <Content>
        <MatSelectNativeType Label="Pick a Food Group" @bind-Value="@ValInt">
            <MatOptionType Value="0"></MatOptionType>
            <MatOptionType Value="1">Bread, Cereal, Rice, and Pasta</MatOptionType>
            <MatOptionType Value="2">Vegetables</MatOptionType>
            <MatOptionType Value="3">Fruit</MatOptionType>
        </MatSelectNativeType>

        <span>@ValInt</span>

        @code
        {
            public int ValInt { get; set; }
        }
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelectNativeType Label=""Pick a Food Group"" @bind-Value=""@ValInt"">
            <MatOptionType Value=""0""></MatOptionType>
            <MatOptionType Value=""1"">Bread, Cereal, Rice, and Pasta</MatOptionType>
            <MatOptionType Value=""2"">Vegetables</MatOptionType>
            <MatOptionType Value=""3"">Fruit</MatOptionType>
        </MatSelectNativeType>

        <span>@ValInt</span>

        @code
        {
            public int ValInt { get; set; }
        }
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>







<h5 class="mat-h5">Helper Text</h5>
<DemoContainer>
    <Content>
        <p>
            <MatSelectNative HelperText="Helper Text" Label="Pick a Food Group" @bind-Value="@Val1">
                <MatOption Value=""></MatOption>
                <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value="vegetables">Vegetables</MatOption>
                <MatOption Value="fruit">Fruit</MatOption>
            </MatSelectNative>
        </p>
        <p>
            <MatSelectNative HelperText="Helper Text Persistent" HelperTextPersistent="true" Label="Pick a Food Group" @bind-Value="@Val1">
                <MatOption Value=""></MatOption>
                <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value="vegetables">Vegetables</MatOption>
                <MatOption Value="fruit">Fruit</MatOption>
            </MatSelectNative>
        </p>
        <p>
            <MatSelectNative HelperText="Helper Text Validation" HelperTextPersistent="true" HelperTextValidation="true" Label="Pick a Food Group" @bind-Value="@Val1">
                <MatOption Value=""></MatOption>
                <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value="vegetables">Vegetables</MatOption>
                <MatOption Value="fruit">Fruit</MatOption>
            </MatSelectNative>
        </p>

        @code
        {
            public string Val1 { get; set; }
        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatSelectNative HelperText=""Helper Text"" Label=""Pick a Food Group"" @bind-Value=""@Val1"">
                <MatOption Value=""""></MatOption>
                <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value=""vegetables"">Vegetables</MatOption>
                <MatOption Value=""fruit"">Fruit</MatOption>
            </MatSelectNative>
        </p>
        <p>
            <MatSelectNative HelperText=""Helper Text Persistent"" HelperTextPersistent=""true"" Label=""Pick a Food Group"" @bind-Value=""@Val1"">
                <MatOption Value=""""></MatOption>
                <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value=""vegetables"">Vegetables</MatOption>
                <MatOption Value=""fruit"">Fruit</MatOption>
            </MatSelectNative>
        </p>
        <p>
            <MatSelectNative HelperText=""Helper Text Validation"" HelperTextPersistent=""true"" HelperTextValidation=""true"" Label=""Pick a Food Group"" @bind-Value=""@Val1"">
                <MatOption Value=""""></MatOption>
                <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value=""vegetables"">Vegetables</MatOption>
                <MatOption Value=""fruit"">Fruit</MatOption>
            </MatSelectNative>
        </p>

        @code
        {
            public string Val1 { get; set; }
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Outlined</h5>
<DemoContainer>
    <Content>
        <MatSelectNative Label="Pick a Food Group" Outlined="true">
            <MatOption Value=""></MatOption>
            <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value="vegetables">Vegetables</MatOption>
            <MatOption Value="fruit">Fruit</MatOption>
        </MatSelectNative>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelectNative Label=""Pick a Food Group"" Outlined=""true"">
            <MatOption Value=""""></MatOption>
            <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value=""vegetables"">Vegetables</MatOption>
            <MatOption Value=""fruit"">Fruit</MatOption>
        </MatSelectNative>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Disabled</h5>
<DemoContainer>
    <Content>
        <MatSelectNative Label="Pick a Food Group" Disabled="true">
            <MatOption Value=""></MatOption>
            <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value="vegetables">Vegetables</MatOption>
            <MatOption Value="fruit">Fruit</MatOption>
        </MatSelectNative>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelectNative Label=""Pick a Food Group"" Disabled=""true"">
            <MatOption Value=""""></MatOption>
            <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value=""vegetables"">Vegetables</MatOption>
            <MatOption Value=""fruit"">Fruit</MatOption>
        </MatSelectNative>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Disabled Option</h5>
<DemoContainer>
    <Content>
        <MatSelectNative Label="Pick a Food Group">
            <MatOption Value=""></MatOption>
            <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value="vegetables" Disabled="true">Vegetables</MatOption>
            <MatOption Value="fruit">Fruit</MatOption>
        </MatSelectNative>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelectNative Label=""Pick a Food Group"">
            <MatOption Value=""""></MatOption>
            <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value=""vegetables"" Disabled=""true"">Vegetables</MatOption>
            <MatOption Value=""fruit"">Fruit</MatOption>
        </MatSelectNative>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>