<DocMatSlideToggle></DocMatSlideToggle>

<h5 class="mat-h5">Example</h5>

<DemoContainer>
    <Content>
        <MatSlideToggle @bind-Value="@Val1"></MatSlideToggle>
        <span>@Val1</span>
        <MatSlideToggle @bind-Value="@Val2"></MatSlideToggle>
        <span>@Val2</span>

        @code
        {
            private bool Val1 = false;
            private bool Val2 = true;
        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSlideToggle @bind-Value=""@Val1""></MatSlideToggle>
        <span>@Val1</span>
        <MatSlideToggle @bind-Value=""@Val2""></MatSlideToggle>
        <span>@Val2</span>

        @code
        {
            private bool Val1 = false;
            private bool Val2 = true;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Label</h5>

<DemoContainer>
    <Content>
        <MatSlideToggle TValue="bool" Label="off/on"></MatSlideToggle>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSlideToggle TValue=""bool"" Label=""off/on""></MatSlideToggle>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Disabled</h5>

<DemoContainer>
    <Content>
        <MatSlideToggle TValue="bool" Disabled="true"></MatSlideToggle>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSlideToggle TValue=""bool"" Disabled=""true""></MatSlideToggle>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Checked changed event</h5>

<DemoContainer>
    <Content>
        <MatSlideToggle TValue="bool" Label="Switch" ValueChanged="@(e=>Toggle(e))"></MatSlideToggle>
        
        @code{
            private void Toggle(bool toggled)
            {
                if (toggled)
                {
                    Console.WriteLine("Toggle true");
                }
                else
                {
                    Console.WriteLine("Toggle false");
                }
            }
        }
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSlideToggle TValue=""bool"" Label=""Switch"" ValueChanged=""@(e=>Toggle(e))""></MatSlideToggle>
        
        @code{
            private void Toggle(bool toggled)
            {
                if (toggled)
                {
                    Console.WriteLine(""Toggle true"");
                }
                else
                {
                    Console.WriteLine(""Toggle false"");
                }
            }
        }
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>