<DocVirtualScroll></DocVirtualScroll>

<DemoContainer >
    <Content>
        <h4>VirtualScroll with @items.Count() items</h4>

        <VirtualScroll style="height: 500px;" ItemType="string" Items="@items" ItemHeight="50">
            <div>@context</div>
        </VirtualScroll>

        @code
        {
            public IEnumerable<string> items = Enumerable.Range(0, 333000).Select(i => i.ToString()).ToArray();
        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <h4>VirtualScroll with @items.Count() items</h4>

        <VirtualScroll style=""height: 500px;"" ItemType=""string"" Items=""@items"" ItemHeight=""50"">
            <div>@context</div>
        </VirtualScroll>

        @code
        {
            public IEnumerable<string> items = Enumerable.Range(0, 333000).Select(i => i.ToString()).ToArray();
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>