@using Microsoft.AspNetCore.Components
<DocMatTooltip></DocMatTooltip>


<h5 class="mat-h5">Example</h5>
<DemoContainer>
    <Content>
        <MatTooltip Tooltip="Right tooltip" Position="@MatTooltipPosition.Right">
            <MatButton RefStore="@context">Right</MatButton>
        </MatTooltip>
        
        <MatTooltip Tooltip="Left tooltip" Position="@MatTooltipPosition.Left">
            <MatButton RefStore="@context">Left</MatButton>
        </MatTooltip>
        
        <MatTooltip Tooltip="Top tooltip" Position="@MatTooltipPosition.Top">
            <MatButton RefStore="@context">Top</MatButton>
        </MatTooltip>
        
        <MatTooltip Tooltip="Bottom tooltip" Position="@MatTooltipPosition.Bottom">
            <MatButton RefStore="@context">Bottom</MatButton>
        </MatTooltip>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatTooltip Tooltip=""Right tooltip"" Position=""@MatTooltipPosition.Right"">
            <MatButton RefStore=""@context"">Right</MatButton>
        </MatTooltip>
        
        <MatTooltip Tooltip=""Left tooltip"" Position=""@MatTooltipPosition.Left"">
            <MatButton RefStore=""@context"">Left</MatButton>
        </MatTooltip>
        
        <MatTooltip Tooltip=""Top tooltip"" Position=""@MatTooltipPosition.Top"">
            <MatButton RefStore=""@context"">Top</MatButton>
        </MatTooltip>
        
        <MatTooltip Tooltip=""Bottom tooltip"" Position=""@MatTooltipPosition.Bottom"">
            <MatButton RefStore=""@context"">Bottom</MatButton>
        </MatTooltip>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>