<DocMatSelectItem></DocMatSelectItem>


<MatH5>Example</MatH5>

<DemoContainer>
    <Content>
        <MatSelectItem @bind-Value="value1" Items="@value1Items">
            <ItemTemplate>
                <MatOption Value="@context">(@context?.Name)</MatOption>
            </ItemTemplate>
        </MatSelectItem>

        <span>@(value1?.Name)</span>

        @code
        {
            ItemType value1;


            ItemType[] value1Items = new[]
            {
                new ItemType(""),
                new ItemType("Grains"),
                new ItemType("Vegetables"),
                new ItemType("Fruit"),
            };

            class ItemType
            {
                public string Name { get; }

                public ItemType(string name)
                {
                    Name = name;
                }
            }

        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelectItem @bind-Value=""value1"" Items=""@value1Items"">
            <ItemTemplate>
                <MatOption Value=""@context"">(@context?.Name)</MatOption>
            </ItemTemplate>
        </MatSelectItem>

        <span>@(value1?.Name)</span>

        @code
        {
            ItemType value1;


            ItemType[] value1Items = new[]
            {
                new ItemType(""""),
                new ItemType(""Grains""),
                new ItemType(""Vegetables""),
                new ItemType(""Fruit""),
            };

            class ItemType
            {
                public string Name { get; }

                public ItemType(string name)
                {
                    Name = name;
                }
            }

        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>