<DocMatSelect></DocMatSelect>
<DocMatOption Secondary="true"></DocMatOption>


<h5 class="mat-h5">Enhanced</h5>
<DemoContainer>
    <Content>
        <MatSelect Label="Pick a Food Group" Enhanced="true">
            @* <MatOption Value=""></MatOption> *@
            @* <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption> *@
            @* <MatOption Value="vegetables">Vegetables</MatOption> *@
            @* <MatOption Value="fruit">Fruit</MatOption> *@
        </MatSelect>

        @functions
        {
//            public string Val {get; set; }
        }
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelect Label=""Pick a Food Group"" @bind-Value=""@Val"">
            <MatOption Value=""""></MatOption>
            <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value=""vegetables"">Vegetables</MatOption>
            <MatOption Value=""fruit"">Fruit</MatOption>
        </MatSelect>

        @functions
        {
            public string Val {get; set; }
        }
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">Normal</h5>
<DemoContainer>
    <Content>
        <MatSelect Label="Pick a Food Group" @bind-Value="@Val">
            <MatOption Value=""></MatOption>
            <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value="vegetables">Vegetables</MatOption>
            <MatOption Value="fruit">Fruit</MatOption>
        </MatSelect>

        @functions
        {
            public string Val {get; set; }
        }
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelect Label=""Pick a Food Group"" @bind-Value=""@Val"">
            <MatOption Value=""""></MatOption>
            <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value=""vegetables"">Vegetables</MatOption>
            <MatOption Value=""fruit"">Fruit</MatOption>
        </MatSelect>

        @functions
        {
            public string Val {get; set; }
        }
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Helper Text</h5>
<DemoContainer>
    <Content>
        <p>
            <MatSelect HelperText="Helper Text" Label="Pick a Food Group" @bind-Value="@Val1">
                <MatOption Value=""></MatOption>
                <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value="vegetables">Vegetables</MatOption>
                <MatOption Value="fruit">Fruit</MatOption>
            </MatSelect>
        </p>
        <p>
            <MatSelect HelperText="Helper Text Persistent" HelperTextPersistent="true" Label="Pick a Food Group" @bind-Value="@Val1">
                <MatOption Value=""></MatOption>
                <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value="vegetables">Vegetables</MatOption>
                <MatOption Value="fruit">Fruit</MatOption>
            </MatSelect>
        </p>
        <p>
            <MatSelect HelperText="Helper Text Validation" HelperTextPersistent="true" HelperTextValidation="true" Label="Pick a Food Group" @bind-Value="@Val1">
                <MatOption Value=""></MatOption>
                <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value="vegetables">Vegetables</MatOption>
                <MatOption Value="fruit">Fruit</MatOption>
            </MatSelect>
        </p>

        @functions
        {
            public string Val1 { get; set; }
        }

    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatSelect HelperText=""Helper Text"" Label=""Pick a Food Group"" @bind-Value=""@Val1"">
                <MatOption Value=""""></MatOption>
                <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value=""vegetables"">Vegetables</MatOption>
                <MatOption Value=""fruit"">Fruit</MatOption>
            </MatSelect>
        </p>
        <p>
            <MatSelect HelperText=""Helper Text Persistent"" HelperTextPersistent=""true"" Label=""Pick a Food Group"" @bind-Value=""@Val1"">
                <MatOption Value=""""></MatOption>
                <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value=""vegetables"">Vegetables</MatOption>
                <MatOption Value=""fruit"">Fruit</MatOption>
            </MatSelect>
        </p>
        <p>
            <MatSelect HelperText=""Helper Text Validation"" HelperTextPersistent=""true"" HelperTextValidation=""true"" Label=""Pick a Food Group"" @bind-Value=""@Val1"">
                <MatOption Value=""""></MatOption>
                <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
                <MatOption Value=""vegetables"">Vegetables</MatOption>
                <MatOption Value=""fruit"">Fruit</MatOption>
            </MatSelect>
        </p>

        @functions
        {
            public string Val1 { get; set; }
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Outlined</h5>
<DemoContainer>
    <Content>
        <MatSelect Label="Pick a Food Group" Outlined="true">
            <MatOption Value=""></MatOption>
            <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value="vegetables">Vegetables</MatOption>
            <MatOption Value="fruit">Fruit</MatOption>
        </MatSelect>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelect Label=""Pick a Food Group"" Outlined=""true"">
            <MatOption Value=""""></MatOption>
            <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value=""vegetables"">Vegetables</MatOption>
            <MatOption Value=""fruit"">Fruit</MatOption>
        </MatSelect>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Disabled</h5>
<DemoContainer>
    <Content>
        <MatSelect Label="Pick a Food Group" Disabled="true">
            <MatOption Value=""></MatOption>
            <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value="vegetables">Vegetables</MatOption>
            <MatOption Value="fruit">Fruit</MatOption>
        </MatSelect>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelect Label=""Pick a Food Group"" Disabled=""true"">
            <MatOption Value=""""></MatOption>
            <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value=""vegetables"">Vegetables</MatOption>
            <MatOption Value=""fruit"">Fruit</MatOption>
        </MatSelect>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Disabled Option</h5>
<DemoContainer>
    <Content>
        <MatSelect Label="Pick a Food Group">
            <MatOption Value=""></MatOption>
            <MatOption Value="grains">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value="vegetables" Disabled="true">Vegetables</MatOption>
            <MatOption Value="fruit">Fruit</MatOption>
        </MatSelect>
    </Content>
    <SourceContent>
    	<BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatSelect Label=""Pick a Food Group"">
            <MatOption Value=""""></MatOption>
            <MatOption Value=""grains"">Bread, Cereal, Rice, and Pasta</MatOption>
            <MatOption Value=""vegetables"" Disabled=""true"">Vegetables</MatOption>
            <MatOption Value=""fruit"">Fruit</MatOption>
        </MatSelect>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>