@using Microsoft.AspNetCore.Components

<DocMatTextField></DocMatTextField>

<h5 class="mat-h5">Filled</h5>
<DemoContainer>
    <Content>
        <p>
            <MatTextField @bind-Value="@MyString" Label="Standard"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString" Dense="true" Label="Dense"></MatTextField>
        </p>
        <div class="text-field-container">
            <MatTextField @bind-Value="@MyString" Label="Label"></MatTextField>
        </div>

        @functions
        {

            public string MyString
            {
                get => _myString;
                set
                {
                    _myString = value;
                    this.StateHasChanged();
                }
            }

            private string _myString;
        }

    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatTextField @bind-Value=""@MyString"" Label=""Standard""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString"" Dense=""true"" Label=""Dense""></MatTextField>
        </p>
        <div class=""text-field-container"">
            <MatTextField @bind-Value=""@MyString"" Label=""Label""></MatTextField>
        </div>

        @functions
        {

            public string MyString
            {
                get => _myString;
                set
                {
                    _myString = value;
                    this.StateHasChanged();
                }
            }

            private string _myString;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">Helper Text</h5>
<DemoContainer>
    <Content>
        <p>
            <MatTextField @bind-Value="@MyString10" HelperText="Helper Text" Label="Label"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString10" HelperText="Helper Text Persistent" Label="Label" HelperTextPersistent="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString10" HelperText="Helper Text Validation" Label="Label" HelperTextPersistent="true" HelperTextValidation="true"></MatTextField>
        </p>

        @functions
        {

            public string MyString10
            {
                get => _myString10;
                set
                {
                    _myString10 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString10;
        }

    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatTextField @bind-Value=""@MyString10"" HelperText=""Helper Text"" Label=""Label""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString10"" HelperText=""Helper Text Persistent"" Label=""Label"" HelperTextPersistent=""true""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString10"" HelperText=""Helper Text Validation"" Label=""Label"" HelperTextPersistent=""true"" HelperTextValidation=""true""></MatTextField>
        </p>

        @functions
        {

            public string MyString
            {
                get => _myString;
                set
                {
                    _myString = value;
                    this.StateHasChanged();
                }
            }

            private string _myString;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">
    Filled With Leading Icon
</h5>
<DemoContainer>
    <Content>

        <p>
            <MatTextField @bind-Value="@MyString2" Label="Standard" Icon="favorite"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString2" Dense="true" Label="Dense" Icon="favorite"></MatTextField>
        </p>
        <div class="text-field-container">
            <MatTextField @bind-Value="@MyString2" Label="Label" Icon="favorite"></MatTextField>
        </div>

        @functions
        {

            public string MyString2
            {
                get => _myString2;
                set
                {
                    _myString2 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString2;
        }

    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"

        <p>
            <MatTextField @bind-Value=""@MyString2"" Label=""Standard"" Icon=""favorite""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString2"" Dense=""true"" Label=""Dense"" Icon=""favorite""></MatTextField>
        </p>
        <div class=""text-field-container"">
            <MatTextField @bind-Value=""@MyString2"" Label=""Label"" Icon=""favorite""></MatTextField>
        </div>

        @functions
        {

            public string MyString2
            {
                get => _myString2;
                set
                {
                    _myString2 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString2;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">
    Filled With Trailing Icon
</h5>
<DemoContainer>
    <Content>
        <p>
            <MatTextField @bind-Value="@MyString3" Label="Standard" Icon="favorite" IconTrailing="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString3" Dense="true" Label="Dense" Icon="favorite" IconTrailing="true"></MatTextField>
        </p>
        <div class="text-field-container">
            <MatTextField @bind-Value="@MyString3" Label="Label" Icon="favorite" IconTrailing="true"></MatTextField>
        </div>

        @functions
        {

            public string MyString3
            {
                get => _myString3;
                set
                {
                    _myString3 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString3;
        }

    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatTextField @bind-Value=""@MyString3"" Label=""Standard"" Icon=""favorite"" IconTrailing=""true""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString3"" Dense=""true"" Label=""Dense"" Icon=""favorite"" IconTrailing=""true""></MatTextField>
        </p>
        <div class=""text-field-container"">
            <MatTextField @bind-Value=""@MyString3"" Label=""Label"" Icon=""favorite"" IconTrailing=""true""></MatTextField>
        </div>

        @functions
        {

            public string MyString3
            {
                get => _myString3;
                set
                {
                    _myString3 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString3;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">
    Outlined
</h5>
<DemoContainer>
    <Content>
        <p>
            <MatTextField @bind-Value="@MyString4" Label="Standard" Outlined="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString4" Dense="true" Label="Dense" Outlined="true"></MatTextField>
        </p>
        <div class="text-field-container">
            <MatTextField @bind-Value="@MyString4" Label="Label" Outlined="true"></MatTextField>
        </div>

        @functions
        {

            public string MyString4
            {
                get => _myString4;
                set
                {
                    _myString4 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString4;
        }

    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatTextField @bind-Value=""@MyString4"" Label=""Standard"" Outlined=""true""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString4"" Dense=""true"" Label=""Dense"" Outlined=""true""></MatTextField>
        </p>
        <div class=""text-field-container"">
            <MatTextField @bind-Value=""@MyString4"" Label=""Label"" Outlined=""true""></MatTextField>
        </div>

        @functions
        {

            public string MyString4
            {
                get => _myString4;
                set
                {
                    _myString4 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString4;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">
    Outlined With Leading Icon
</h5>
<DemoContainer>
    <Content>
        <p>
            <MatTextField @bind-Value="@MyString5" Label="Standard" Icon="favorite" Outlined="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString5" Dense="true" Label="Dense" Icon="favorite" Outlined="true"></MatTextField>
        </p>
        <div class="text-field-container">
            <MatTextField @bind-Value="@MyString5" Label="Label" Icon="favorite" Outlined="true"></MatTextField>
        </div>

        @functions
        {

            public string MyString5
            {
                get => _myString5;
                set
                {
                    _myString5 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString5;
        }

    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatTextField @bind-Value=""@MyString5"" Label=""Standard"" Icon=""favorite"" Outlined=""true""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString5"" Dense=""true"" Label=""Dense"" Icon=""favorite"" Outlined=""true""></MatTextField>
        </p>
        <div class=""text-field-container"">
            <MatTextField @bind-Value=""@MyString5"" Label=""Label"" Icon=""favorite"" Outlined=""true""></MatTextField>
        </div>

        @functions
        {

            public string MyString5
            {
                get => _myString5;
                set
                {
                    _myString5 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString5;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">
    Outlined With Trailing Icon
</h5>
<DemoContainer>
    <Content>
        <p>
            <MatTextField @bind-Value="@MyString6" Label="Standard" Icon="favorite" IconTrailing="true" Outlined="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString6" Dense="true" Label="Dense" Icon="favorite" IconTrailing="true" Outlined="true"></MatTextField>
        </p>
        <div class="text-field-container">
            <MatTextField @bind-Value="@MyString6" Label="Label" Icon="favorite" IconTrailing="true" Outlined="true"></MatTextField>
        </div>

        @functions
        {

            public string MyString6
            {
                get => _myString6;
                set
                {
                    _myString6 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString6;
        }

    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatTextField @bind-Value=""@MyString6"" Label=""Standard"" Icon=""favorite"" IconTrailing=""true"" Outlined=""true""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString6"" Dense=""true"" Label=""Dense"" Icon=""favorite"" IconTrailing=""true"" Outlined=""true""></MatTextField>
        </p>
        <div class=""text-field-container"">
            <MatTextField @bind-Value=""@MyString6"" Label=""Label"" Icon=""favorite"" IconTrailing=""true"" Outlined=""true""></MatTextField>
        </div>

        @functions
        {

            public string MyString6
            {
                get => _myString6;
                set
                {
                    _myString6 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString6;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">Textarea</h5>
<DemoContainer>
    <Content>
        <p>
            <MatTextField @bind-Value="@MyString7" Label="Standard" TextArea="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString7" Dense="true" Label="Dense" TextArea="true"></MatTextField>
        </p>
        <div class="text-field-container">
            <MatTextField @bind-Value="@MyString7" Label="Label" TextArea="true"></MatTextField>
        </div>

        @functions
        {

            public string MyString7
            {
                get => _myString7;
                set
                {
                    _myString7 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString7;
        }

    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatTextField @bind-Value=""@MyString7"" Label=""Standard"" TextArea=""true""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString7"" Dense=""true"" Label=""Dense"" TextArea=""true""></MatTextField>
        </p>
        <div class=""text-field-container"">
            <MatTextField @bind-Value=""@MyString7"" Label=""Label"" TextArea=""true""></MatTextField>
        </div>

        @functions
        {

            public string MyString7
            {
                get => _myString7;
                set
                {
                    _myString7 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString7;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">
    Full Width
</h5>
<DemoContainer>
    <Content>
        <p>
            <MatTextField @bind-Value="@MyString8" Label="Full Width" FullWidth="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString8" Dense="true" Label="Dense" FullWidth="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-value="@MyString8" Label="Leading Icon" Icon="mail_outline" FullWidth="true" Required="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-value="@MyString8" Label="Trailing Icon - Password" Icon="lock_outline" IconTrailing="true" FullWidth="true" Required="true" Type="password"></MatTextField>
        </p>
        <p>
            <div class="text-field-container">
                <MatTextField @bind-Value="@MyString8" Label="Label" FullWidth="true"></MatTextField>
            </div>
        </p>

        @functions
        {

            public string MyString8
            {
                get => _myString8;
                set
                {
                    _myString8 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString8;
        }

    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatTextField @bind-Value=""@MyString8"" Label=""Full Width"" FullWidth=""true""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString8"" Dense=""true"" Label=""Dense"" FullWidth=""true""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-value=""@MyString8"" Label=""Leading Icon"" Icon=""mail_outline"" FullWidth=""true"" Required=""true""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-value=""@MyString8"" Label=""Trailing Icon - Password"" Icon=""lock_outline"" IconTrailing=""true"" FullWidth=""true"" Required=""true"" Type=""password""></MatTextField>
        </p>
        <p>
            <div class=""text-field-container"">
                <MatTextField @bind-Value=""@MyString8"" Label=""Label"" FullWidth=""true""></MatTextField>
            </div>
        </p>

        @functions
        {

            public string MyString8
            {
                get => _myString8;
                set
                {
                    _myString8 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString8;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">
    Full Width Textarea
</h5>
<DemoContainer>
    <Content>
        <p>
            <MatTextField @bind-Value="@MyString9" Label="Standard" TextArea="true" FullWidth="true"></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value="@MyString9" Dense="true" Label="Dense" TextArea="true" FullWidth="true"></MatTextField>
        </p>
        <p>
            <div class="text-field-container">
                <MatTextField @bind-Value="@MyString9" Label="Label" TextArea="true" FullWidth="true"></MatTextField>
            </div>
        </p>

        @functions
        {

            public string MyString9
            {
                get => _myString9;
                set
                {
                    _myString9 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString9;
        }

    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatTextField @bind-Value=""@MyString9"" Label=""Standard"" TextArea=""true"" FullWidth=""true""></MatTextField>
        </p>
        <p>
            <MatTextField @bind-Value=""@MyString9"" Dense=""true"" Label=""Dense"" TextArea=""true"" FullWidth=""true""></MatTextField>
        </p>
        <p>
            <div class=""text-field-container"">
                <MatTextField @bind-Value=""@MyString9"" Label=""Label"" TextArea=""true"" FullWidth=""true""></MatTextField>
            </div>
        </p>

        @functions
        {

            public string MyString9
            {
                get => _myString9;
                set
                {
                    _myString9 = value;
                    this.StateHasChanged();
                }
            }

            private string _myString9;
        }

    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">PlaceHolder</h5>
<DemoContainer>
    <Content>
        <MatTextField PlaceHolder="Test PlaceHolder"></MatTextField>
    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatTextField PlaceHolder=""Test PlaceHolder""></MatTextField>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">Required</h5>

<DemoContainer>
    <Content>
        <MatTextField Required="true"></MatTextField>
    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatTextField Required=""true""></MatTextField>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">Disabled and ReadOnly</h5>

<DemoContainer>
    <Content>
        <p>
            <MatTextField Disabled="true" Value="Disabled" Label="Disabled"></MatTextField>
        </p>

        <p>
            <MatTextField Disabled="true" TextArea="true" Value="Disabled TextArea" Label="Disabled TextArea"></MatTextField>
        </p>

        <p>
            <MatTextField ReadOnly="true" Value="ReadOnly" Label="ReadOnly"></MatTextField>
        </p>

        <p>
            <MatTextField ReadOnly="true" TextArea="true" Value="ReadOnly TextArea" Label="ReadOnly TextArea"></MatTextField>
        </p>
    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <p>
            <MatTextField Disabled=""true"" Value=""Disabled"" Label=""Disabled""></MatTextField>
        </p>

        <p>
            <MatTextField Disabled=""true"" TextArea=""true"" Value=""Disabled TextArea"" Label=""Disabled TextArea""></MatTextField>
        </p>

        <p>
            <MatTextField ReadOnly=""true"" Value=""ReadOnly"" Label=""ReadOnly""></MatTextField>
        </p>

        <p>
            <MatTextField ReadOnly=""true"" TextArea=""true"" Value=""ReadOnly TextArea"" Label=""ReadOnly TextArea""></MatTextField>
        </p>
    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>


<h5 class="mat-h5">InputClass and InputStyle</h5>

<DemoContainer>
    <Content>

        <style>
            .demo-text-field-class {
                font-family: monospace;
                color: red !important;
            }
        </style>

        <p>
            <MatTextField Value="InputClass" Label="Label" InputClass="demo-text-field-class"></MatTextField>
        </p>

        <p>
            <MatTextField Value="InputStyle" Label="Label" InputStyle="font-family: monospace; color: green;"></MatTextField>
        </p>


    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"

        <style>
            .demo-text-field-class {
                font-family: monospace;
                color: red !important;
            }
        </style>

        <p>
            <MatTextField Value=""InputClass"" Label=""Label"" InputClass=""demo-text-field-class""></MatTextField>
        </p>

        <p>
            <MatTextField Value=""InputStyle"" Label=""Label"" InputStyle=""font-family: monospace; color: green;""></MatTextField>
        </p>


    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>

<h5 class="mat-h5">Events</h5>

<DemoContainer>
    <Content>
        <MatTextField OnFocus="@OnFocusHandler" OnFocusOut="OnFocusOutHandler" OnKeyPress="@OnKeyPressHandler" OnKeyDown="@OnKeyDownHandler" OnKeyUp="@OnKeyUpHandler" OnInput="@OnInputHandler"></MatTextField>

        <div>@eventLog</div>


        @functions
        {

            string eventLog = "";

            void AddLog(string line)
            {
                eventLog += "\r\n" + line;
                this.StateHasChanged();
            }

            void OnFocusHandler(UIFocusEventArgs e)
            {
                this.AddLog("OnFocus");
            }

            void OnFocusOutHandler(UIFocusEventArgs e)
            {
                this.AddLog("OnFocusOut");
            }

            void OnKeyPressHandler(UIKeyboardEventArgs e)
            {
                this.AddLog("OnKeyPress " + e.Key);
            }

            void OnKeyDownHandler(UIKeyboardEventArgs e)
            {
                this.AddLog("OnKeyDown " + e.Key);
            }

            void OnKeyUpHandler(UIKeyboardEventArgs e)
            {
                this.AddLog("OnKeyUp " + e.Key);
            }

            void OnInputHandler(UIChangeEventArgs e)
            {
                this.AddLog("OnInput");
            }

        }


    </Content>
    <SourceContent>
        <BlazorFiddle Template="MatBlazor" Code=@(@"
        <MatTextField OnFocus=""@OnFocusHandler"" OnFocusOut=""OnFocusOutHandler"" OnKeyPress=""@OnKeyPressHandler"" OnKeyDown=""@OnKeyDownHandler"" OnKeyUp=""@OnKeyUpHandler"" OnInput=""@OnInputHandler""></MatTextField>

        <div>@eventLog</div>


        @functions
        {

            string eventLog = """";

            void AddLog(string line)
            {
                eventLog += ""\r\n"" + line;
                this.StateHasChanged();
            }

            void OnFocusHandler(UIFocusEventArgs e)
            {
                this.AddLog(""OnFocus"");
            }

            void OnFocusOutHandler(UIFocusEventArgs e)
            {
                this.AddLog(""OnFocusOut"");
            }

            void OnKeyPressHandler(UIKeyboardEventArgs e)
            {
                this.AddLog(""OnKeyPress "" + e.Key);
            }

            void OnKeyDownHandler(UIKeyboardEventArgs e)
            {
                this.AddLog(""OnKeyDown "" + e.Key);
            }

            void OnKeyUpHandler(UIKeyboardEventArgs e)
            {
                this.AddLog(""OnKeyUp "" + e.Key);
            }

            void OnInputHandler(UIChangeEventArgs e)
            {
                this.AddLog(""OnInput"");
            }

        }


    ")></BlazorFiddle>
    </SourceContent>
</DemoContainer>