@using MatBlazor.Models
@addTagHelper *,MatBlazor


<h2>MatIcon</h2>

<h3>Use Examples</h3>

<DemoContainer>
    <Content>
        <MatIcon Icon="favorite"></MatIcon>
        <MatIcon Icon="@MatIconNames.Image"></MatIcon>
        <MatIcon Icon="@MatIconNames._3d_rotation"></MatIcon>

        <MatIcon>work</MatIcon>
        <MatIcon>@MatIconNames.Assistant</MatIcon>
    </Content>
    <SourceContent>
    	<div style="white-space: pre-wrap;">@((MarkupString) "\u000D\u000A\u0020\u0020\u0020\u0020\u0020\u0020\u0020\u0020\u0026\u006C\u0074\u003B\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u0020\u0049\u0063\u006F\u006E\u003D\u0026\u0071\u0075\u006F\u0074\u003B\u0066\u0061\u0076\u006F\u0072\u0069\u0074\u0065\u0026\u0071\u0075\u006F\u0074\u003B\u0026\u0067\u0074\u003B\u0026\u006C\u0074\u003B\u002F\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u0026\u0067\u0074\u003B\u000D\u000A\u0020\u0020\u0020\u0020\u0020\u0020\u0020\u0020\u0026\u006C\u0074\u003B\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u0020\u0049\u0063\u006F\u006E\u003D\u0026\u0071\u0075\u006F\u0074\u003B\u0040\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u004E\u0061\u006D\u0065\u0073\u002E\u0049\u006D\u0061\u0067\u0065\u0026\u0071\u0075\u006F\u0074\u003B\u0026\u0067\u0074\u003B\u0026\u006C\u0074\u003B\u002F\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u0026\u0067\u0074\u003B\u000D\u000A\u0020\u0020\u0020\u0020\u0020\u0020\u0020\u0020\u0026\u006C\u0074\u003B\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u0020\u0049\u0063\u006F\u006E\u003D\u0026\u0071\u0075\u006F\u0074\u003B\u0040\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u004E\u0061\u006D\u0065\u0073\u002E\u005F\u0033\u0064\u005F\u0072\u006F\u0074\u0061\u0074\u0069\u006F\u006E\u0026\u0071\u0075\u006F\u0074\u003B\u0026\u0067\u0074\u003B\u0026\u006C\u0074\u003B\u002F\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u0026\u0067\u0074\u003B\u000D\u000A\u000D\u000A\u0020\u0020\u0020\u0020\u0020\u0020\u0020\u0020\u0026\u006C\u0074\u003B\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u0026\u0067\u0074\u003B\u0077\u006F\u0072\u006B\u0026\u006C\u0074\u003B\u002F\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u0026\u0067\u0074\u003B\u000D\u000A\u0020\u0020\u0020\u0020\u0020\u0020\u0020\u0020\u0026\u006C\u0074\u003B\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u0026\u0067\u0074\u003B\u0040\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u004E\u0061\u006D\u0065\u0073\u002E\u0041\u0073\u0073\u0069\u0073\u0074\u0061\u006E\u0074\u0026\u006C\u0074\u003B\u002F\u004D\u0061\u0074\u0049\u0063\u006F\u006E\u0026\u0067\u0074\u003B\u000D\u000A\u0020\u0020\u0020\u0020")</div>
    </SourceContent>
</DemoContainer>


<h3>All material icons for Blazor</h3>

@foreach (var cat in MatIconCategories.Data)
{
    <h4>@cat.Name</h4>
    <div style="display: flex; flex-direction: row; width: 100%; max-width: 100%; flex-wrap: wrap;">

        @foreach (var icon in cat.Icons)
        {
            <div style="width: 250px; height: 80px; text-align: center;">
                <div>
                    <MatIcon Icon="@icon.Id"></MatIcon>
                </div>
                <div>@icon.Id</div>
            </div>
        }
    </div>
}