@namespace MatBlazor
@typeparam TItem
@inherits BaseMatDataTableOld<TItem>

@{
    var visibleItems = GetVisibleItems();
    var renderedItems = GetRenderedItems(visibleItems);
    var scrollResult = VirtualScrollHelper.GetResult(renderedItems, 52, 56, StickyHeader);
}

<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="@Ref" id="@Id" @attributes="@Attributes">

    <CascadingValue Value="@this">
        @Columns
    </CascadingValue>

    <div class="mat-data-table-container" style="@(scrollResult.ScrollContainerStyle)">
        <table class="mdc-data-table__table">
            <MatDataTableHeaderOld>
                @foreach (var column in columnItems)
                {
                    <MatDataTableHeaderCellOld>
                        @if (column.HeaderTemplate != null)
                        {
                            @column.HeaderTemplate
                        }
                        else
                        {
                            @column.Header
                        }
                    </MatDataTableHeaderCellOld>
                }
            </MatDataTableHeaderOld>

            <MatDataTableContentOld>

                @foreach (var item in renderedItems.Skip(scrollResult.SkipItems).Take(scrollResult.TakeItems))
                {
                    <MatDataTableRowOld>
                        @foreach (var column in columnItems)
                        {
                            <MatDataTableCellOld>
                                @if (column.Template != null)
                                {
                                    @column.Template(item)
                                }
                                else if (@column.Value != null)
                                {
                                    @column.Value(item)
                                }
                            </MatDataTableCellOld>
                        }

                    </MatDataTableRowOld>
                }

            </MatDataTableContentOld>
        </table>
    </div>
    @if (Paginator)
    {
        <MatPaginator PageSizeOptions="@PageSizeOptions" PageSize="@PageSize" PageLabel="@PageLabel" Length="@visibleItems.Count()" Page="@OnPageHandler"></MatPaginator>
    }
</div>