@inherits Microsoft.AspNetCore.Components.Layouts.LayoutComponentBase
@using MatBlazor.Components.MatAppBar
@using MatBlazor.Components.MatDrawer
@using MatBlazor.Models
@using Microsoft.AspNetCore.Components.Services
@addTagHelper *,MatBlazor
@inject IUriHelper Url


<MatBlazorInstall/>

<MatAppBar Style="z-index: 100;" Class="mat">
    <MatAppBarRow>
        <MatAppBarSection>
            <MatIconButton Icon="menu" OnClick="@((e) => MenuButtonClicked())"></MatIconButton>
            <MatAppBarTitle>MatBlazor - Material Design components for Blazor and Razor Components</MatAppBarTitle>
        </MatAppBarSection>
        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
            <a href="https://www.nuget.org/packages/MatBlazor/" target="_blank">
                <img src="https://img.shields.io/nuget/v/MatBlazor.svg"/>
            </a>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9XT68N2VKWTPE&source=url" target="_blank" style="margin-left: 5px;">
                <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif"/>
            </a>

            <MatIconButton Link="http://samprof.com" Target="_blank">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </MatIconButton>
            <MatIconButton Link="https://github.com/BlazorComponents/MatBlazor">
                <i class="fa fa-github" aria-hidden="true"></i>
            </MatIconButton>
        </MatAppBarSection>
    </MatAppBarRow>
</MatAppBar>

<MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="mat">
    <MatDrawer bind-Opened="@_navMenuOpened">
        <MatAppBarAdjust></MatAppBarAdjust>
        <MatListGroup>
            <MatList SingleSelection="true">
                <MatListItem Href="@Url.ToAbsoluteUri("").AbsoluteUri">Home</MatListItem>

                @foreach (var navItem in navItems)
                {
                    <MatListItem Href="@Url.ToAbsoluteUri(navItem.Url).AbsoluteUri">
                        @navItem.Name
                    </MatListItem>
                }

                <MatListItem Href="@Url.ToAbsoluteUri("BaseComponent").AbsoluteUri">
                    Base Component
                </MatListItem>
            </MatList>
        </MatListGroup>
    </MatDrawer>


    <MatDrawerContent Style="padding-left: 25px; padding-right: 25px;">
        <MatAppBarAdjust></MatAppBarAdjust>
        @Body
    </MatDrawerContent>

</MatDrawerContainer>


<MatSnackbar bind-IsOpen="@lazySnackbarIsOpen">
    <MatSnackbarContent>If you like MatBlazor, please put a star on GitHub.</MatSnackbarContent>
    <MatSnackbarActions>
        @* <MatButton Raised="true">Star</MatButton> *@
        <MatIconButton Icon="@MatIconNames.Stars" Link="https://github.com/BlazorComponents/MatBlazor" style="color: white;" target="_blank"></MatIconButton>
    </MatSnackbarActions>

</MatSnackbar>


@functions {

    bool lazySnackbarIsOpen = false;

    bool _navMenuOpened = true;

    void MenuButtonClicked()
    {
        _navMenuOpened = !_navMenuOpened;
        this.StateHasChanged();
    }


    class NavItem
    {
        public string Name;
        public string Url;
    }


    NavItem[] navItems;

    protected async override Task OnInitAsync()
    {
        await base.OnInitAsync();

        Task.Delay(TimeSpan.FromSeconds(5))
            .ContinueWith((_) => { this.lazySnackbarIsOpen = true; });


        navItems = new[]
        {
            new NavItem()
            {
                Name = "Autocomplete",
                Url = "Autocomplete"
            },
            new NavItem()
            {
                Name = "Checkbox",
                Url = "Checkbox"
            },
            new NavItem()
            {
                Name = "TextField",
                Url = "TextField"
            },
            new NavItem()
            {
                Name = "RadioButton",
                Url = "RadioButton"
            },
            new NavItem()
            {
                Name = "Select",
                Url = "Select"
            },
            new NavItem()
            {
                Name = "Slider",
                Url = "Slider"
            },
            new NavItem()
            {
                Name = "SlideToggle",
                Url = "SlideToggle"
            },
            new NavItem()
            {
                Name = "Drawer",
                Url = "Drawer"
            },
            new NavItem()
            {
                Name = "AppBar",
                Url = "AppBar"
            },
            new NavItem()
            {
                Name = "Dialog",
                Url = "Dialog"
            },
            new NavItem()
            {
                Name = "Snackbar",
                Url = "Snackbar"
            },
            new NavItem()
            {
                Name = "Menu",
                Url = "Menu"
            },
            new NavItem()
            {
                Name = "Card",
                Url = "Card"
            },
            new NavItem()
            {
                Name = "Divider",
                Url = "Divider"
            },
            new NavItem()
            {
                Name = "List",
                Url = "List"
            },
            new NavItem()
            {
                Name = "Button",
                Url = "Button"
            },
            new NavItem()
            {
                Name = "Ripple",
                Url = "Ripple"
            },
            new NavItem()
            {
                Name = "IconButton",
                Url = "IconButton"
            },
            new NavItem()
            {
                Name = "Icon",
                Url = "Icon"
            },
            new NavItem()
            {
                Name = "Chip",
                Url = "Chip"
            },
            new NavItem()
            {
                Name = "ProgressBar",
                Url = "ProgressBar"
            },
            new NavItem()
            {
                Name = "Elevation",
                Url = "Elevation"
            },
            new NavItem()
            {
                Name = "Typography",
                Url = "Typography"
            },
            new NavItem()
            {
                Name = "LayoutGrid",
                Url = "LayoutGrid"
            },
            new NavItem()
            {
                Name = "Table",
                Url = "Table"
            },
        }.OrderBy(i => i.Name).ToArray();
    }

}
