@inherits Microsoft.AspNetCore.Components.Layouts.LayoutComponentBase
@using MatBlazor.Components.MatAppBar
@using MatBlazor.Components.MatDrawer
@using MatBlazor.Models
@using Microsoft.AspNetCore.Components.Services
@addTagHelper *,MatBlazor
@inject IUriHelper Url


<MatBlazorInstall/>


<MatAppBar Style="z-index: 100;" Class="mat">
    <MatAppBarRow>
        <MatAppBarSection>
            <MatIconButton Icon="menu" OnClick="@((e) => MenuButtonClicked())"></MatIconButton>
            <MatAppBarTitle>MatBlazor - Material Design components for Blazor and Razor Components</MatAppBarTitle>
        </MatAppBarSection>
        <MatAppBarSection Align="@MatAppBarSectionAlign.End">
            <a href="https://www.nuget.org/packages/MatBlazor/" target="_blank"><img src="https://img.shields.io/nuget/v/MatBlazor.svg" /></a>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=9XT68N2VKWTPE&source=url" target="_blank" style="margin-left: 5px;"><img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" /></a>
           
            <MatIconButton Link="http://samprof.com" Target="_blank" Title="Author SamProf">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </MatIconButton>
            <MatIconButton Link="https://github.com/BlazorComponents/MatBlazor" Title="MatBlazor GitHub">
                <i class="fa fa-github" aria-hidden="true"></i>
            </MatIconButton>
        </MatAppBarSection>
    </MatAppBarRow>
</MatAppBar>

<MatDrawerContainer Style="width: 100vw; height: 100vh;" Class="mat">
    <MatDrawer bind-Opened="@_navMenuOpened">
        <MatAppBarAdjust></MatAppBarAdjust>
        <MatListGroup>
            <MatList SingleSelection="true">
                <MatListItem Href="@Url.ToAbsoluteUri("").AbsoluteUri">Home</MatListItem>

                <MatListItem Href="@Url.ToAbsoluteUri("BaseComponent").AbsoluteUri">
                    Base Component
                </MatListItem>

                <MatListItem Href="@Url.ToAbsoluteUri("Checkbox").AbsoluteUri">
                    Checkbox
                </MatListItem>

                <MatListItem Href="@Url.ToAbsoluteUri("TextField").AbsoluteUri">
                    TextField
                </MatListItem>

                <MatListItem Href="@Url.ToAbsoluteUri("RadioButton").AbsoluteUri">
                    RadioButton
                </MatListItem>

                <MatListItem Href="@Url.ToAbsoluteUri("Select").AbsoluteUri">
                    Select
                </MatListItem>

                <MatListItem Href="@Url.ToAbsoluteUri("Slider").AbsoluteUri">
                    Slider
                </MatListItem>

                <MatListItem Href="@Url.ToAbsoluteUri("SlideToggle").AbsoluteUri">
                    SlideToggle
                </MatListItem>

                <MatListItem Href="@Url.ToAbsoluteUri("Drawer").AbsoluteUri">
                    Drawer
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("AppBar").AbsoluteUri">
                    AppBar
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("Dialog").AbsoluteUri">
                    Dialog
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("Menu").AbsoluteUri">
                    Menu
                </MatListItem>

                <MatListItem Href="@Url.ToAbsoluteUri("Card").AbsoluteUri">
                    Card
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("Divider").AbsoluteUri">
                    Divider
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("List").AbsoluteUri">
                    List
                </MatListItem>

                <MatListItem Href="@Url.ToAbsoluteUri("Button").AbsoluteUri">
                    Button
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("IconButton").AbsoluteUri">
                    IconButton
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("Icon").AbsoluteUri">
                    Icon
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("Chip").AbsoluteUri">
                    Chip
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("ProgressBar").AbsoluteUri">
                    ProgressBar
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("Elevation").AbsoluteUri">
                    Elevation
                </MatListItem>
                <MatListItem Href="@Url.ToAbsoluteUri("Typography").AbsoluteUri">
                    Typography
                </MatListItem>
            </MatList>
        </MatListGroup>
    </MatDrawer>


    <MatDrawerContent Style="padding-left: 5px; padding-right: 5px;">
        <MatAppBarAdjust></MatAppBarAdjust>
        @Body
    </MatDrawerContent>

</MatDrawerContainer>


@functions {
    bool _navMenuOpened = true;

    void MenuButtonClicked()
    {
        _navMenuOpened = !_navMenuOpened;
        this.StateHasChanged();
    }
}