@namespace MatBlazor
@inherits BaseMatFileUpload

<div @ref="@Ref" @attributes="@Attributes" class="@ClassMapper.AsString()" style="@GenerateStyle()" id="@Id">
    <input type="file" @ref="@InputRef"/>
    <div class="mat-file-upload-content">
        <span>@Label</span>
        <MatIcon>@MatIconNames.Attach_file</MatIcon>
    </div>
</div>