@page "/"
@using MatBlazor.Components.MatButton

<h1 >@test</h1>

<MatButton OnClick="@Run">@test</MatButton>
<MatButton ButtonType="@MatButtonType.Text">Text</MatButton>
<MatButton ButtonType="@MatButtonType.Raised">Raised</MatButton>
<MatButton ButtonType="@MatButtonType.Unelevated">Unelevated</MatButton>
<MatButton ButtonType="@MatButtonType.Outlined">Outlined</MatButton>

@functions
{

    string test = "TEst";

    void Run(UIMouseEventArgs ev)
    {
        test = DateTime.Now.ToString();
        StateHasChanged();
    }

}