@namespace MatBlazor
@inherits BaseMatDomComponent
@using Microsoft.AspNetCore.Components

@* mdc-top-app-bar__action-item *@
<a aria-label="@Label" alt="@Label" @onclick="OnClickHandler" class="@ClassMapper.Class material-icons mdc-top-app-bar__action-item" style="@Style" @ref ="Ref" @attributes="Attributes" Id="@Id">
    @Icon
</a>


@functions
{
    
    [Parameter]
    private RenderFragment ChildContent { get; set; }

    [Parameter]
    private EventCallback<UIMouseEventArgs> OnClick { get; set; }

    [Parameter]
    private string Icon { get; set; }

    [Parameter]
    public string Label { get; set; }

    private void OnClickHandler(UIMouseEventArgs e)
    {
        OnClick.InvokeAsync(e);
    }

}