@namespace MatBlazor
@inherits BaseMatDomComponent
@* mdc-top-app-bar__action-item *@
<a aria-label="@Label" alt="@Label" @onclick="OnClickHandler" class="@ClassMapper.AsString() material-icons mdc-top-app-bar__action-item" style="@StyleMapper.AsString()" @ref="Ref" @attributes="Attributes" Id="@Id">
    @Icon
</a>