@namespace MatBlazor
@using Microsoft.AspNetCore.Components.Routing;
@inherits BaseMatNavItem

    <CascadingValue Value="@this">

        @if (@Disabled)
        {
            <li class="@ClassMapper.AsString()" @onmousedown="OnMouseDown" style="@StyleMapper.AsString()" @ref="Ref" @attributes="Attributes" Id="@Id">
                @ChildContent
            </li>
        }
        else 
        { 
            <li class="mdc-nav-li" @ref="Ref" @attributes="Attributes" Id="@Id">
                <NavLink class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" href="@Href" @onclick="OnClickHandler" Match="NavLinkMatch.All" ActiveClass="mdc-list-item--selected">
                    @ChildContent
                </NavLink>
            </li>
        }

    </CascadingValue>
