@inherits BaseMatTextField

<div class="@ClassMapper.Class">
    @if (!FullWidth && Icon != null)
    {
        <i class="material-icons mdc-text-field__icon" tabindex="0">@Icon</i>
    }

    @* ${this._renderInput({value, required, type, placeHolder, label})} *@

    <input type="@Type" placeholder="@PlaceHolder" required=@Required class="@InputClassMapper.Class" id="text-field" value="@Value" aria-label="@Label">


    @if (!FullWidth && Label != null)
    {
        <label class="@LabelClassMapper.Class" for="text-field">@Label</label>
    }


    @if (!FullWidth && Outlined)
    {
        <div class="mdc-notched-outline">
            <svg>
                <path class="mdc-notched-outline__path"/>
            </svg>
        </div>
        <div class="mdc-notched-outline__idle"></div>
    }
    else
    {
        <div ifass="mdc-line-ripple"></div>
    }
</div>
@if (HelperText != null)
{
}
<p class="mdc-text-field-helper-text" aria-hidden="true">@HelperText</p>