@namespace MatBlazor
@typeparam TItem
@inherits BaseMatDataTable<TItem>

@{
    var e = PreparedItems();
    var scrollResult = VirtualScrollHelper.GetResult(e, 52, 56, StickyHeader);
}

<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="@Ref" id="@Id" @attributes="@Attributes">
    <div class="mat-data-table-virtual-scroll-container" style="@(scrollResult.ScrollContainerStyle)">
        <table class="mdc-data-table__table">
            <MatDataTableHeader>
                <CascadingValue Value="@MatDataTableRenderMode.Header">
                    @Columns(default(TItem))
                </CascadingValue>
            </MatDataTableHeader>

            <MatDataTableContent>
                <CascadingValue Value="@MatDataTableRenderMode.Row">
                    @foreach (var item in e.Skip(scrollResult.SkipItems).Take(scrollResult.TakeItems))
                    {
                        <MatDataTableRow>
                            @Columns(item)
                        </MatDataTableRow>
                    }
                </CascadingValue>
            </MatDataTableContent>
        </table>
    </div>
</div>