@namespace MatBlazor
@typeparam TItem
@inherits BaseMatDataTable<TItem>

@{
    var visibleItems = GetVisibleItems();
    var renderedItems = GetRenderedItems(visibleItems);
    var scrollResult = VirtualScrollHelper.GetResult(renderedItems, 52, 56, StickyHeader);
}

<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="@Ref" id="@Id" @attributes="@Attributes">
    <div class="mat-data-table-container" style="@(scrollResult.ScrollContainerStyle)">
        <table class="mdc-data-table__table">
            <MatDataTableHeader>
                <CascadingValue Value="@MatDataTableRenderMode.Header">
                    @Columns(default(TItem))
                </CascadingValue>
            </MatDataTableHeader>

            <MatDataTableContent>
                <CascadingValue Value="@MatDataTableRenderMode.Row">
                    @foreach (var item in renderedItems.Skip(scrollResult.SkipItems).Take(scrollResult.TakeItems))
                    {
                        <MatDataTableRow>
                            @Columns(item)
                        </MatDataTableRow>
                    }
                </CascadingValue>
            </MatDataTableContent>
        </table>
    </div>
    @if (Paginator)
    {
        <MatPaginator PageSizeOptions="@PageSizeOptions" PageSize="@PageSize" PageLabel="@PageLabel" Length="@visibleItems.Count()" Page="@OnPageHandler"></MatPaginator>
    }
</div>