@namespace MatBlazor
@* @typeparam TItem *@
@inherits BaseMatDataTable

<CascadingValue Value="@this">
    <div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="@Ref" id="@Id" @attributes="@Attributes">
        <table class="mdc-data-table__table">
            @ChildContent
        </table>
    </div>
</CascadingValue>


@code
{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
    }
}