@namespace MatBlazor
@typeparam TItem
@inherits BaseMatDataTable<TItem>


<div class="@ClassMapper.AsString()" style="@StyleMapper.AsString()" @ref="@Ref" id="@Id" @attributes="@Attributes">
    <table class="mdc-data-table__table">
        <MatDataTableHeader>
            <CascadingValue Value="@MatDataTableRenderMode.Header">
                @Columns(default(TItem))
            </CascadingValue>
        </MatDataTableHeader>

        <MatDataTableContent>
            <CascadingValue Value="@MatDataTableRenderMode.Row">
                @foreach (var item in PreparedItems())
                {
                    <MatDataTableRow>
                        @Columns(item)
                    </MatDataTableRow>
                }
            </CascadingValue>
        </MatDataTableContent>
    </table>
</div>