@inherits BaseMatIconButton

<button class="@ClassMapper.Class" style="@Style" ref="Ref" disabled=@Disabled onclick="@OnClickHandler" href=@Link>
    @if (Icon != null)
    {
        @if (ToggleIcon != null && Toggled)
        {
            <MatIcon Icon="@ToggleIcon"></MatIcon>
        }
        else
        {
            <MatIcon Icon="@Icon"></MatIcon>
        }
    }
    @ChildContent
</button>