@namespace MatBlazor
@inherits BaseMatChip

<div class="@ClassMapper.Class" style="@Style" @ref="Ref" @ref:suppressField @attributes="Attributes" Id="@Id">
    @if (LeadingIcon != null)
    {
        <i class="material-icons mdc-chip__icon mdc-chip__icon--leading">@LeadingIcon</i>
    }
    <div class="mdc-chip__text">@Label</div>
    @if (TrailingIcon != null)
    {
        <i class="material-icons mdc-chip__icon mdc-chip__icon--trailing">@TrailingIcon</i>
    }
</div>